.aboutus {
    padding-bottom: 94px;

    &-item {
        position: relative;
        margin-right: 30px;
    }

    &-text-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &-text-picture {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        color: $white-text-color;
    }

    &-items {
        display: flex;
        position: relative;
    }

    &-item:last-child {
        margin-right: 0;
    }
}

.aboutus .aboutus-title,
.ourteam-title,
.clients-title {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}