.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
    min-width: 528px;
    background-color: $white-text-color;
    display: flex;
}

.button-close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 8px;
    background-color: $white-text-color;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover &-backdrop,
    &:focus &-backdrop,
    &:hover &:focus {
        fill: $blue-text-color;
    }

    &-backdrop {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.form {
    margin: 40px;

    &-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        color: $primary-text-color;
        margin-bottom: 12px;
        text-align: center;
    }

    &-field {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}



.comment {
    width: 448px;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-field {
        margin-bottom: 0;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    }

    &:focus,
    &:hover {
        border-color: $blue-text-color;
        outline: none;
    }
}



.form-field input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 40px;
}

.form-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
}



.policy-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    & label {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
        padding-left: 7px;
    }
}

.policy-link {
    color: $blue-text-color;
    text-decoration: underline;
    margin-left: 3px;
}

.logo-form-block {
    position: relative;

    & input {
        width: 100%;
    }

}

.button-send {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    color: $white-text-color;
    background-color: $blue-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    cursor: pointer;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logo-form {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    margin-top: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input {
    padding-left: 42px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover~.logo-form {
        fill: $blue-text-color;
        cursor: pointer;
    }

    &:hover {
        border-color: $blue-text-color;
        cursor: pointer;
    }

    &:focus~.logo-form {
        fill: $blue-text-color;
    }

    &:focus {
        border-color: $blue-text-color;
        outline: none;
    }
}

.input-policy {
    appearance: none;
    position: absolute;


    &:checked+.full-check {
        border-color: $blue-text-color;
        background-color: $blue-text-color;
        background-image: url("../images/end.svg");
        background-size: contain;
        background-origin: border-box;
    }
}



.full-check {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 7px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}