.page-header {
    position: relative;
    min-width: 480px;
}

/*MENU-MOBILE*/



.menu-button {
    display: inline-flex;
    border: none;
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: $white-text-color;

    &:focus {
        fill: $blue-text-color;
        cursor: pointer;
    }

    &.is-open .icon-close {

        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width:767px) {
        display: none;
    }

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-close {
    display: none;
}




.menu-container {
    z-index: 1;

    &.is-open {
        display: block;

    }

    @media screen and (max-width:767px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        background-color: $white-text-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.08),
            0px 1px 3px rgba(0, 0, 0, 0.16);
    }
}

/*LOGO*/
.logoblue {
    color: $blue-text-color;
}

.logo {
    color: #000000;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.167;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $blue-text-color;
    }
}

.current {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: $blue-text-color;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        bottom: -4px;
    }
}

.icon-block {
    display: inline-block;
    margin-right: 10px;

    &-email {
        height: 12px;
        width: 16px;
        fill: $secondary-text-color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-tel {
        height: 16px;
        width: 10px;
        fill: $secondary-text-color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*SITE NAV*/
.site-navi {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    margin-top: 60px;

    & a {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    & a {
        color: $primary-text-color;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:focus,
    & a:hover {
        color: $blue-text-color;
    }

    & .current {
        color: $blue-text-color;
    }
}

/*AUTH NAV*/
.auth-nav {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    margin-top: 60px;
    margin-bottom: 60px;

    & .item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & a {
        color: $secondary-text-color;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:focus .icon-block svg,
    & a:hover .icon-block svg,
    & a:focus,
    & a:hover {
        fill: $blue-text-color;
        color: $blue-text-color;
    }
}

.nav-item {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}


@media screen and (min-width:768px) {

    .header-main-cont {
        display: flex;
        justify-content: space-between;
    }

    .menu-container {
        display: flex;
        align-items: center;
        margin-left: 88px;
    }

    .auth-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 21px;
        margin-bottom: 21px;
        font-size: 12px;
        line-height: 1.166;
        margin-left: 75px;
        width: 150px;

        & .item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    .site-navi {
        display: flex;
        align-items: center;
        margin-top: 0;
        font-size: 14px;
        line-height: 1.142;
    }

    .nav-item {
        margin-right: 50px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    .current::before {
        width: 100%;
        bottom: -35px;
    }

    .icon-block {
        margin-right: 8px;
    }
}

@media screen and (min-width:1200px) {
    .page-header {
        padding-bottom: 19px;
    }

    .header-main-cont {
        justify-content: space-between;
    }

    .auth-nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 330px;

        & .item {
            margin-bottom: 0;
        }

        &-link {
            margin-right: 30px;
        }
    }

    .site-navi {
        margin-right: 250px;
    }

    .current::before {
        width: 100%;
        bottom: -42px;
    }
}